{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
  <title>الفصول</title>
  <link rel="stylesheet" href="{% static 'css/dashboardcards.css' %}">
{% endblock %}
{% block content %}
<h2 style="text-align: center; margin-top: 20px;">الفصول</h2>

<div class="dashboard-cards">
  {% for classrom in classes %}
  <div class="card">
    <h3>{{ classrom.name }}</h3>
    <a href="{% url 'classroom' classrom.order %}">عرض الطلاب</a>
    <small>مستوى الفصل {{ classrom.order|default:"0" }}</small>
  </div>
  {% endfor %}
</div>


{% endblock content %}
