# Ignore local secrets and virtual env
.env
.env.local
.venv/

# Python cache
__pycache__/
*.pyc



# SQLite database files
*.db
*.sqlite3



# VSCode settings (اختياري)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
