{% extends 'base.html' %}
{% load static %}

{% block title %}تعديل الدرجات{% endblock %}

{% block content %}
<h2>تعديل درجات الطالب: {{ student.name }}</h2>

<form method="POST">
    {% csrf_token %}
    {{ formset.management_form }}

    <table border="1" style="width:100%; text-align:center;">
        <thead>
            <tr>
                <th>الشهر</th>
                {% for sub in subjects %}
                    <th>{{ sub.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for month in months %}
            <tr>
                <td>{{ month.name }}</td>
                {% for sub in subjects %}
                    <td>
                        {% for form in formset.forms %}
                            {% if form.instance.month.id == month.id and form.instance.grade_fo_subject.id == sub.id %}
                                {{form}}
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="margin-top:20px;">
        <button type="submit">حفظ</button>
        <a href="{% url 'teacher_login' %}" class="btn-secondary">إلغاء</a>
    </div>
</form>
{% endblock %}
